*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
background:#111827;
color:white;
}

.login-page{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.login-box{
width:350px;
background:#1f2937;
padding:25px;
border-radius:16px;
display:flex;
flex-direction:column;
gap:15px;
}

.login-box h1{
text-align:center;
}

.login-box input{
padding:12px;
border:none;
border-radius:8px;
font-size:16px;
}

.login-box button{
padding:12px;
border:none;
border-radius:8px;
background:#3b82f6;
color:white;
font-size:16px;
cursor:pointer;
}